/*----- NAVBAR -----*/

#header {
  display: flex;
  height: 60px;
  margin: 0;
  padding: 0;
  border-bottom: 0.01em solid #e7ebeb;
}
.page {
  display: flex;
}

/*----- BACKGROUND -----*/

#background-white {
  background-color: white;
}

#background-grey {
  background-color: #f3f5f5;
}

/*----- GENERAL -----*/
.container {
  width: 1124px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0;
}

/*----- RESTAURANT -----*/

#restaurant {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.name-description-Restaurant {
  display: flex;
  flex-direction: column;
}

.descriptionRestaurant {
  color: #838585;
  font-size: 16px;
}

.pictureRestaurant {
  width: 33%;
  height: 160px;
  border-radius: 3px;
  object-fit: cover;
}

/*----- MENU -----*/

#menuList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.menuItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
}

.menuCards {
  background-color: white;
  width: 43%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.menuCards:hover {
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
}

.menuInfo {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 20px;
}

.imageMenu {
  width: 80px;
  height: 80px;
  border-radius: 2px;
  object-fit: cover;
  display: flex;
  align-items: flex-end;
}

.noImageMenu {
  display: none;
}

.title {
  font-size: 16px;
}

.description {
  color: #838585;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price {
  color: #838585;
  font-size: 16px;
}

/*----- BASKET -----*/
.confirmButton {
  background-color: #b9c3c3;
  color: #8c9b9b;
  font-weight: bold;
  font-size: 15px;
  width: calc(100% - 10px);
  margin: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: none;
}

#basket {
  position: absolute;
  right: 0;
  width: 33%;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
}
#basketSticky {
  position: sticky;
}

.emptyBasket {
  color: #838585;
  text-align: center;
  font-size: 15px;
  padding: 32px 0 64px;
  line-height: 1.4;
}
