#nav {
  display: flex;
  border-bottom: 1px;
}
.page {
  display: flex;
  align-content: space-around;
  justify-content: center;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0px;
  padding: 0px;
}

.restaurant {
  display: flex;
}

.descriptionRestaurant {
  width: 50%;
}

#menuList {
  background-color: #f3f5f5;
}
