/*----- NAVBAR -----*/

#header {
  display: flex;
  height: 60px;
  margin: 0;
  padding: 0;
  border-bottom: 0.01em solid #e7ebeb;
}
.page {
  display: flex;
}

/*----- BACKGROUND -----*/

#background-white {
  background-color: white;
}

#background-grey {
  background-color: #f3f5f5;
}

/*----- GENERAL -----*/
.container {
  width: 1124px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: "Stratos Deliveroo Web";
  font-weight: 600;
  font-size: 28px;
  color: #2e3333;
}

p {
  margin: 0;
  font-family: "Adelle Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2e3333;
}

li {
  list-style: none;
}

/*----- RESTAURANT -----*/

#restaurant {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.name-description-Restaurant {
  display: flex;
  flex-direction: column;
}

.descriptionRestaurant {
  color: #838585;
  font-family: "Adelle Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  padding-right: 30px;
}

.pictureRestaurant {
  width: 33%;
  height: 160px;
  border-radius: 3px;
  object-fit: cover;
}

/*----- MENU -----*/

#menuList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.menuItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
}

.menuCards {
  background-color: white;
  transition-duration: 0.6s;
  width: 43%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.menuCards:hover {
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
  cursor: pointer;
}

.menuInfo {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 20px;
}

.imageMenu {
  width: 100px;
  height: 100px;
  border-radius: 2px;
  object-fit: cover;
  display: flex;
  align-items: flex-end;
}

.noImageMenu {
  display: none;
}

.title {
  font-size: 16px;
}

.description {
  color: #838585;
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price {
  color: #838585;
  font-size: 16px;
}

/*----- CART -----*/
.confirmButton {
  background-color: #01ccbc;
  transition-duration: 0.6s;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: calc(100% - 10px);
  margin: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.confirmButton:hover {
  background-color: #33d6c8;
}

.disableButton {
  background-color: #b9c3c3;
  color: #8c9b9b;
  font-weight: bold;
  font-size: 15px;
  width: calc(100% - 10px);
  margin: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: none;
}

#cartEmpty {
  position: absolute;
  font-family: "Adelle Sans";
  font-weight: 400;
  line-height: 19px;
  color: #2e3333;
  right: 0;
  width: 33%;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
  height: 170px;
}

#cartWithItems {
  position: absolute;
  font-family: "Adelle Sans";
  font-weight: 400;
  line-height: 19px;
  color: #2e3333;
  right: 0;
  width: 33%;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
  min-height: 170px;
  padding-bottom: 15px;
}

#basketSticky {
  position: sticky;
  top: 0;
}

.emptyBasket {
  color: #838585;
  text-align: center;
  font-size: 15px;
  padding: 32px 0 64px;
  line-height: 1.4;
}

#cartContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cartButtonMenu {
  display: flex;
  flex-direction: row;
}

.priceItem {
  padding-right: 10px;
}

.quantityButton {
  border-color: #01ccbc;
  color: #01ccbc;
  border-radius: 50%;
  border-width: 1px;
  margin: 10px;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  background-color: white;
  border-style: solid;
  font-weight: bold;
  cursor: pointer;
}

.quantityButton:hover {
  color: #757676;
  border-color: #757676;
  transition-duration: 0.6s;
}

#subtotal {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#subtotal1 {
  display: flex;
  justify-content: space-between;
}

#subtotal2 {
  display: flex;
  justify-content: space-between;
}

#total {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

hr {
  display: block;
  height: 1px;
  margin: 10px;
  border: 0;
  border-top: 1px solid #ccc;
  color: #33d6c8;
}
