/*----- GENERAL -----*/

#background {
  background-color: #f3f5f5;
}

#container {
  width: 1124px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#form {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 60%;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: "Stratos Deliveroo Web";
  font-weight: 600;
  font-size: 28px;
  color: #2e3333;
}

p {
  margin: 0;
  font-family: "Adelle Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2e3333;
}

h3 {
  font-family: "Stratos Deliveroo Web";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2e3332;
  text-align: center;
  margin-bottom: 40px;
}

h5 {
  font-family: "Adelle Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #828585;
  margin: 0;
}

li {
  list-style: none;
}

/*----- FORM -----*/

input {
  height: 35px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #01ccbc;
  margin-top: 10px;
  margin-bottom: 27px;
}

::placeholder {
  padding-left: 10px;
  font-family: "Adelle Sans";
  font-weight: 400;
  font-size: 12px;
}

.twoInput {
  display: flex;
  justify-content: space-between;
}

.leftInput  {
  width: 50%;
}
.rightInput {
  width: 50%;
}

form {
  width: 70%;
  margin-bottom: 40px;
  margin-top: 40px;
}

#deliveryInfo {
  text-align: center;
  font-family: "Adelle Sans";
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.bold {
  text-align: center;
  font-family: "Adelle Sans";
  font-weight: 600;
  font-size: 14px;
}

.instructions {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: 1px solid #01ccbc;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.submitButton {
  background-color: #01ccbc;
  transition-duration: 0.6s;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  height: 45px;
}

.submitButton:hover {
  background-color: #33d6c8;
}

/*----- CART -----*/

.PanierLabel {
  font-family: "Adelle Sans";
  font-weight: 600;
  padding-bottom: 15px;
}

#cart {
  background-color: white;
  font-family: "Adelle Sans";
  font-weight: 400;
  line-height: 35px;
  padding: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin-top: 30px;
}

.quantity {
  color: #828787;
  padding-right: 20px;
}

#cartItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cartQuantityName {
  display: flex;
}

.priceItem {
  display: flex;
  align-content: flex-end;
  text-align: end;
}

#subtotalCart {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.subtotal1line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.priceItemSubtotal {
  display: flex;
  align-content: flex-end;
  text-align: end;
  font-weight: 600;
  color: #01ccbc;
}

#totalCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  margin-top: 15px;
}
